

    <!doctype html>
    <html >
      <head>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
        <script src="project.js"></script>
      </head>
    <body ng-app="project">
        <h2>ACCCN RP GPIO Test</h2>
        <div ng-controller="GpioController">
            <button ng-click="setGpio(2,1)" >Set2 to 1</button>
            <button ng-click="setGpio(2,0)" >Set2 to01</button>
<br>
            <button ng-click="setGpio(3,1)" >Set3 to 1</button>
            <button ng-click="setGpio(3,0)" >Set3 to01</button>

<br>Auto:
<div ng-repeat='n in gpios'>
  <button ng-click="setGpio(n,1)">Set {{n}} to 1</button>
  <button ng-click="setGpio(n,0)">Set {{n}} to 0</button>
</div>
        </div>
    </body>
    </html>

